@media screen and (min-width:950px) {
    .functioning {
        flex-direction: row; 
        align-items: center; 
        div {
            margin-left: 35px;
            }
    }
    .restaurants {
        display: flex;
        align-items: center; 
        position: relative; 
        .card {
            width: 100%; 
            margin-left: 15px;
            margin-top: 50px;
            img {
            width: 150%;
            object-fit: cover;
            }
        }
        .titleRestaurants {
            position: absolute; 
            top:0;
        }
    }
    footer {
        text-align: center; 
    }
    .card-icon { 
        .fas {
            z-index: 50;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    } 
    }