@media screen and (min-width:950px) {
    header {
        font-size: 1.5rem;
    }
    .functioning {
        flex-direction: row; // pour annuler le flex-direction: column
        align-items: center; 
        div {
            margin-left: 35px;
            }
    }
    .restaurants {
        display: flex;
        align-items: center; 
        position: relative; // pour mettre le titre en position absolute et le faire passer au dessus des cartes
        .card {
            width: 100%; // pour que les cartes prennent toute la largeur du conteneur 
            margin-left: 15px;
            margin-top: 50px;
            img {
            width: 150%;
            object-fit: cover;
            }
        }
        .titleRestaurants {
            position: absolute; 
            top:0;
        }
    }
    footer {
        text-align: center; 
    }
    .card-icon { // Pour que le coeur apparaisse au survol
        .fas {
            z-index: 50;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    } 
    }